---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";
const Marusya = await Astro.glob("./team/Marusya.md");
const Eugene = await Astro.glob("./team/Eugene.md");
const Eponine = await Astro.glob("./team/Eponine.md");
const Vanessa = await Astro.glob("./team/Vanessa.md");
---


<ContentSection title="Team" id="team">
  
  
  <div class="container flex mx-auto">
        
        <div class="p-4 lg:w-1/4 md:w-1/2">
          <div class="h-full flex flex-col basis-1/4 items-center text-center">
            {Marusya.map(Marusya => ( 
              <article>
            <img alt="team" class="object-scale-down rounded-lg w-full h-56 object-cover object-center mb-4" src="https://github.com/keithlcheng/analoguerevolution/blob/main/public/images/uploads/Marusya.png?raw=true">
            <div class="w-full">
              <h2 class="title-font font-bold text-lg text-red-600">{Marusya.frontmatter.name}</h2>
              <h3 class="text-white font-bold mb-3">{Marusya.frontmatter.role}</h3>
              <p class="mb- text-xs">{Marusya.frontmatter.bio}</p>
              <span class="inline-flex">
              </span>
            </div>
          </article>
                ))}
          </div>
        </div>


        <div class="p-4 lg:w-1/4 md:w-1/2">
          <div class="h-full flex flex-col basis-1/4 items-center text-center">
            {Eponine.map(Eponine => ( 
              <article>
            <img alt="team" class="object-scale-down rounded-lg w-full h-56 object-cover object-center mb-4" src="https://github.com/keithlcheng/analoguerevolution/blob/main/public/images/uploads/Eponine.png?raw=true">
            <div class="w-full">
              <h2 class="title-font font-bold text-lg text-red-600">{Eponine.frontmatter.name}</h2>
              <h3 class="text-white font-bold mb-3">{Eponine.frontmatter.role}</h3>
              <p class="mb- text-xs">{Eponine.frontmatter.bio}</p>
              <span class="inline-flex">
              </span>
            </div>
          </article>
                ))}
            </div>
          </div>

            
        <div class="p-4 lg:w-1/4 md:w-1/2">
          <div class="h-full flex flex-col basis-1/4 items-center text-center">
            {Vanessa.map(Vanessa => ( 
              <article>
            <img alt="team" class="object-scale-down rounded-lg w-full h-56 object-cover object-center mb-4" src="https://github.com/keithlcheng/analoguerevolution/blob/main/public/images/uploads/Vanessa.png?raw=true">
            <div class="w-full">
              <h2 class="title-font font-bold text-lg text-red-600">{Vanessa.frontmatter.name}</h2>
              <h3 class="text-white font-bold mb-3">{Vanessa.frontmatter.role}</h3>
              <p class="mb- text-xs">{Vanessa.frontmatter.bio}</p>
              <span class="inline-flex">
              </span>
            </div>
          </article>
                ))}
          </div>
        </div>


        <div class="p-4 lg:w-1/4 md:w-1/2">
          <div class="h-full flex flex-col basis-1/4 items-center text-center">
            {Eugene.map(Eugene => ( 
              <article>
            <img alt="team" class="object-scale-down rounded-lg w-full h-56 object-cover object-center mb-4" src="https://github.com/keithlcheng/analoguerevolution/blob/main/public/images/uploads/Eugene.png?raw=true">
            <div class="w-full">
              <h2 class="title-font font-bold text-lg text-red-600">{Eugene.frontmatter.name}</h2>
              <h3 class="text-white font-bold mb-3">{Eugene.frontmatter.role}</h3>
              <p class="mb- text-xs">{Eugene.frontmatter.bio}</p>
              <span class="inline-flex">
              </span>
            </div>
          </article>
                ))}
            </div>
          </div>
        </div>

</section>
</ContentSection>